* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "sans-serif",monospace;
  }
  body,
  html {
    height: 100%;
    width: 100%;
    padding: 0;
    background-color: #000000;
    color:white;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  .header-div{
      background-color: #0c1720;
      border-bottom:#6d6d6d solid 1px;
  }
  .header-info{
      position:relative;
      left:940px;
      padding-top:10px ;    
  }
  .header-info p{
    margin-top: 1rem;
    margin-bottom: 1rem;
  
  }
  h2{
    position:relative;
    top:20px;
    text-align: center;
  }
  #main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  
  .globalData{
    background-color: #ec0c53;
  }
  .australianData{
    background-color: #289e80;
  }
  .dataDisplay{
    border:green solid 3px;
  }
  .card{
  text-align:center;
  width:240px;
  height:350px;
  
  background-color:#6c489e;
  }
  .card p{
   font-size:1.5rem;
  }
  .card label{
    font-size:0.75rem;
    color:#ffffff;
  }
  .color-div{
    height:29px;
    width:236px;
    color:#000000;
   background-color:#ECB22E;
  }
  .chart-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
    width: 100%;
    height: 500px;
  }
  .chart-one {
    /* keeping height and width auto so the content can be adjusted itself when differnt screens are used  */
    flex: 1;
    height: 450px;
    width: auto;
    color:#ffffff;
    padding: 60px 10px;
    box-sizing: border-box;
  }
  .gap{
    width:60px;
    height:180px;
  }
  .chart-two {
    flex: 1;
    box-sizing: border-box;
    height: 450px;
    /* border :green solid 2px; */
    width: auto;
    padding: 10px 10px;
  }
  #myChart1 {
   margin:auto;
    height: 350px !important;
    width: 350px !important;
  }

  .wrapper {
    overflow: hidden;
  }
  .sliding-background {
    position: relative;
    top:220px;
    height: 960px;
    width: 6000px;
  }
  .sliding-background {
    background: url("./image/covid-instructions.jpeg") repeat-x;
    background-size: 500px ;
    height: 500px;
    width: 5076px;
  }
  @keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1692px, 0, 0);
    }
  }
  .sliding-background {
    background: url("./image/covid-instructions.jpeg") repeat-x;
    background-size: 500px ;
    height: 500px;
    width: 5076px;
    animation: slide 60s linear infinite;
  }
  
  footer {
    position: relative;
    padding:30px;
    height:90px;
    width: 100vw;
    background-color:#0c1720;
    color: white;
    font-size: 24px;
  }
  .main-footer-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
  }
  /*  creating space between social icons  */
  .social_link a span {
    margin-top: 10px;
    height: 20px;
    width: 80px;
    color: white;
  }
  .copyRight {
    text-align: center;
    background-color: rgb(158, 155, 155);
    font-size: 14px;
    color: white;
    overflow-y: hidden;
  }
  
  @media screen and (min-width: 200px) {
    .header-info{
      font-size: small;   
  }
    #main-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
      }
      .chart-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100vw;
        height: auto;
      }
      .chart-one {
        /* keeping height and width auto so the content can be adjusted itself when differnt screens are used  */
        height: auto;
        width: auto;
        padding: 0px 10px;
        box-sizing: border-box;
      }
      .chart-two {
        height: auto;
        width: auto;
        padding: 10px;
        margin: auto;
        box-sizing: border-box;
      }
      .social_link a span {
        margin-top: 10px;
        height: 20px;
        width: 60px;
        color: white;
      }
      
    
  }
  @media only screen and (max-width: 350px) {
    .header-info{
      font-size: small;
  } 
    #main-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
      }
    .chart-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100vw;
      height: auto;
    }
    .chart-one {
      /* keeping height and width auto so the content can be adjusted itself when differnt screens are used  */
      height: auto;
      width: auto;
      padding: 0px 10px;
      box-sizing: border-box;
    }
    .chart-two {
      height: auto;
      width: auto;
      padding: 10px;
      margin: auto;
      box-sizing: border-box;
    }
  }
  
  @media screen and (max-width: 600px) {
    .header-info{
      position:relative; 
      left:30px;
      padding-top:10px ;  
      
  }
    #main-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
      }
    .chart-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100vw;
      height: auto;
    }
    .chart-one {
      /* keeping height and width auto so the content can be adjusted itself when differnt screens are used  */
      height: auto;
      width: auto;
      padding: 0px 10px;
      box-sizing: border-box;
    }
    .chart-two {
      height: auto;
      width: auto;
      padding: 10px;
      margin: auto;
      box-sizing: border-box;
    }
    .gap{
      height:60px;
    }
    .copyRight {
      text-align: center;
      font-size: 14px;
      color: white;
      overflow-y: hidden;
    }
    /* color is changing here for copy right text*/
    .copyRight span {
      position:relative;
      top:50px;
      color: #ffffff;
    }
  }
  @media only screen and (min-width: 768px) {
    .header-info{
      position:relative; 
      left:30px;
      padding-top:10px ;  
      
  }
    #main-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
      }
     
    .chart-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10px;
      margin: auto;
      width: 100vw;
      height: auto;
    }
    .chart-one {
        /* keeping height and width auto so the content can be adjusted itself when differnt screens are used  */
        height: auto;
        width: auto;
        padding: 0px 10px;
        box-sizing: border-box;
      }
      
    .chart-two {
        height: auto;
        width: auto;
        padding: 10px;
        margin: auto;
        box-sizing: border-box;
      }
      .gap{
        /* width:60px; */
        height:80px;
      }

  }
  @media only screen and (min-width: 992px) {
    #main-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
      }
    .chart-container {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10px;
      width: 100vw;
      height: auto;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    #main-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
      }
    .chart-container {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      /* border: black solid 3px; */
      padding: 10px;
      width: 100vw;
      height: auto;
    }
    
    .chart-two {
      height: auto;
      width: auto;
      padding: 10px 20px;
      margin: auto;
      box-sizing: border-box;
    }
  }
